body {
	background: url(../images/background.jpg) repeat;	
	background-color: #F1F1F1;
	padding:0px auto;
	margin:0px auto;
}

.menu img{
	position:absolute;
	left:0px;
	top:0px;
	z-index:-1;
	height:620px;
}

.menu ul{
	margin:0px;
	padding:0px;
	float:left;
}

.menu li{
	display:block;
	position:relative;
	top:130px;
	left:0px;
	height: 30px;
	width: 120px;
}

.menu li a{
	font-family: Helvetica;
	font-size: 15px;
	text-decoration: none;
	color:#3c3c3c;
	background-color: none;
	padding:0px auto;
	margin:0px auto;
}

.menu li img {
	position: absolute;
	top: -5px;
	left: -140px;
	height:30px;
	width:150px;
	border: 0;
}

.menu li a #menu_text{
	position: absolute;
	left: 30px;
}

.menu li a #menu_home{
	position: absolute;
	left: 30px;
}

.social_media{
	position:absolute;
	top:10px;
}

#facebook{
	position:absolute;
	right:10px;
	float: right;
}

#twitter{
	position:absolute;
	right:60px;
	float: right;
}

#stumbleupon{
	position:absolute;
	right:220px;
	float: right;
}

#pininterest{
	position:absolute;
	right:125px;
	float: right;
}

