body {
	background: url(../images/background.jpg) repeat;
	background-color: #F1F1F1;
	padding:0px auto;
	margin:0px auto;
	width: 30200px;
	position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    overflow:hidden;
}

.menu img{
	position:fixed;
	left:0px;
	top:0px;
	z-index:1;
	height:620px;
}

.menu ul{
	position: fixed;
	left:0px;
	margin:0px;
	padding:0px;
	float:left;
	z-index:2;
}

.menu li{
	display:block;
	position:relative;
	top:130px;
	left:0px;
	height: 30px;
	width: 120px;
}

.menu li a{
	font-family: Helvetica;
	font-size: 15px;
	text-decoration: none;
	color:#3c3c3c;
	background-color: none;
	padding:0px auto;
	margin:0px auto;
}

.menu li img {
	position: absolute;
	top: -5px;
	left: -140px;
	height:30px;
	width:150px;
	border: 0;
}

.menu li a #menu_text{
	position: absolute;
	left: 30px;
	z-index:3;
}

.menu li a #menu_home{
	position: absolute;
	left: 30px;
	z-index:3;
}

.social_media{
	position:fixed;
	top:10px;
	z-index:2;
}

#googleplus{
	position:fixed;
	right:135px;
	float: right;
}

#facebook{
	position:fixed;
	right:10px;
	float: right;
}

#twitter{
	position:fixed;
	right:60px;
	float: right;
}

#stumbleupon{
	position:fixed;
	right:260px;
	float: right;
}

#pininterest{
	position:fixed;
	right:125px;
	float: right;
}

.footer{
	position: fixed;
	float:right;
	right:0px;
	bottom:-5px;
	padding: 0px;
	margin:0px;
}

.footer img{
	border:0px;
	border-style: none;
}

.page_content{
	margin:0px;
    bottom:0px;
    width:4000px;
    float:left;
    height:100%;
}

#about_page{	
	position: absolute;
	left:200px;
}


#architecture_page{	
	position: absolute;;
	left:3200px;
}

#drawing_page{	
	position: absolute;;
	left:6200px;
}

#fashion_page{	
	position: absolute;;
	left:9200px;
}


#painting_page{	
	position: absolute;;
	left:12200px;
}

#photography_page{	
	position: absolute;;
	left:15200px;
}

#set_design_page{	
	position: absolute;;
	left:18200px;
}

#web_page{	
	position: absolute;;
	left:21200px;
}

#misc_page{	
	position: absolute;;
	left:24200px;
}

#contact_page{	
	position: absolute;;
	left:27200px;
}
