body {
	/*background: url(../images/background.jpg) repeat;*/
	background-color: #F1F1F1;
	padding:0px auto;
	margin:0px auto;
	width: 30000px;
	position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    overflow:hidden;
}

.menu img{
	position:fixed;
	left:0px;
	top:20px;
	z-index:1;
	height:638px;
}


.menu ul{
	position: fixed;
	left:0px;
	margin:0px;
	padding:0px;
	float:left;
	z-index:2;
}

.menu li{
	display:block;
	position:relative;
	top:150px;
	left:0px;
	height: 30px;
	width: 120px;
}

.menu li a{
	font-family: Helvetica;
	font-size: 15px;
	text-decoration: none;
	color:#3c3c3c;
	background-color: none;
	padding:0px auto;
	margin:0px auto;
}

.menu li img {
	position: absolute;
	top: -5px;
	left: -140px;
	height:30px;
	width:150px;
	border: 0;
}

.menu_text{
	position: absolute;
	left: 30px;
	z-index:3;
}

.menu li a #menu_home{
	position: absolute;
	left: 30px;
	z-index:3;
}

.social_media{
	position:fixed;
	top:10px;
	z-index:2;
}

#googleplus{
	position:fixed;
	right:135px;
	float: right;
}

#facebook{
	position:fixed;
	right:10px;
	float: right;
}

#twitter{
	position:fixed;
	right:60px;
	float: right;
}

#stumbleupon{
	position:fixed;
	right:260px;
	float: right;
}

#pininterest{
	position:fixed;
	right:125px;
	float: right;
}

.footer{
	position: fixed;
	float:right;
	right:0px;
	bottom:-5px;
	padding: 0px;
	margin:0px;
	z-index:2;
}

.footer img{
	border:0px;
	border-style: none;
}

.page{
	margin:0px;
    bottom:0px;
    width:3000px;
    float:left;
    height:100%;
}

.page img{
	position: inherit;
	top:30px;
	left:200px;
	width: 100px;
}

.page h2{
	position: inherit;
	top:0px;
	left: 250px;
	padding-left: 50px; 
  	padding-top: 17px;
  	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
  	font-size: 50px;
  	color: #0D4383;
  	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
  	-webkit-text-stroke: 1px #fff;
  	-webkit-text-fill-color: transparent;
	
}




.about{	
	position: absolute;
	left:0px;
	background-color:#f1f1f1;
	/*
	background: -moz-linear-gradient(-90deg,#f7f7f7,#f1f1f1);
  	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f1f1f1));
  	*/
}

.about h1{
	position: relative;
	left:200px;

	display: inline;
	font: 200px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(127,198,255,0.6); 
}

.about h1:after {

	content: "hello.";
	position: absolute; left: 10px; top: 3px;
	  
	color: rgba(231,34,80,0.6); 

}


.architecture{	
	position: absolute;;
	left:3000px;
	background-color: #e8f1e4;
	/*
	background: -moz-linear-gradient(-90deg,#f7f7f7,#bee4ad);
  	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#bee4ad));
  	*/
}


.drawing{	
	position: absolute;;
	left:6000px;
	background-color: #efe8db;
}

.fashion{	
	position: absolute;;
	left:9000px;
	background-color: #dbebeb;
}


.painting{	
	position: absolute;;
	left:12000px;
	background-color: #eee4ee;
}

.photography{	
	position: absolute;;
	left:15000px;
	background-color: #f5f5e2;
}

.setdesign{	
	position: absolute;;
	left:18000px;
	background-color: #f2e5e5;
}

.web{	
	position: absolute;;
	left:21000px;
	background-color: #f2dee5;
}

.misc{	
	position: absolute;;
	left:24000px;
	background-color: #deeaf3;
}

.contact{	
	position: absolute;;
	left:27000px;
	background-color: #f2f2db;
}

#sendform{
	position: inherit;
	left:200px;
	top:200px;
	width:300px;
}

#formail{

	overflow:hidden;
	padding-left:0px;
	z-index:3;
	padding-top:5px;
	color:#3c3c3c;
	font-family: "Helvetica", Arial, Verdana;
	font-size:11px;
}

#response{
	display: none;
	width: 280px;
	font-family: "Helvetica", Arial, Verdana;
	font-size: 12px;
	z-index:3;
	padding: 10px;
	color: #3c3c3c;
	background-color: rgba(255,255,255,0.6); ;
}

#formail input{
	width:300px;
	height:16px;
	background:#fff;
	border:0;
	margin-bottom:10px;
	padding:4px 5px;
}

#formail textarea{
	width:300px;
	height:256px;
	background:#fff;
	border:0;
	margin-bottom:10px;
	padding:4px;
}

.submit{
	width:88px !important;
	height:27px !important;
	border:0 !important;
	background:none !important;
	margin:3px 0 0 0 !important;
	padding:0 !important;
}
