ErrorDocument 400 http://www.snoweria.com/404.shtml
ErrorDocument 401 http://www.snoweria.com/404.shtml
ErrorDocument 403 http://www.snoweria.com/404.shtml
ErrorDocument 404 http://www.snoweria.com/404.shtml
ErrorDocument 500 http://www.snoweria.com/404.shtml