html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

body{
}



/*	--------------------------------------------------
    Typography
	-------------------------------------------------- */

h2{
	font-family: "Neuton", Helvetica, Arial, Times New Roman, serif; 
	font-weight: 400;
	font-size:20px;
	color: #8c1c1c;
	line-height: 120%;
}

p{
	font-family: "Lato", Helvetica, Arial, Times New Roman, sans-serif; 
	font-size:21px;
	font-weight:400;
	color: #100303;
}

a:-webkit-any-link {
	color: inherit;
	text-decoration: none;
	cursor: auto;
}

.ui-header h2{
	font-family: "Neuton", Helvetica, Arial, Times New Roman, serif; 
	font-weight: 400;
	font-size:20px;
	color: #fff;
	line-height: 120%;
	text-align: center;
}

.drop_down_menu{
	font-family: "Lato", Helvetica, Arial, Times New Roman, sans-serif; 
	font-size:15px;
	font-weight:400;
	color: #f3f2e9;
}

h4{ /*footer*/
	font-family: "Lato", Helvetica, Arial, Times New Roman, sans-serif; 
	font-size:14px;
	font-weight:300;
	color: #8c1c1c;
	margin-top: 20px;
}


#home .ui-btn-text{
	font-family: "Lato", Helvetica, Arial, Times New Roman, sans-serif; 
	font-size:15px;
	font-weight:400;
	color: #100303;
	text-decoration: none;
}

/*#home .ui-btn-text:active{
	font-family:inherit; 
	font-size:inherit;
	font-weight:inherit;
	color: inherit;
	text-decoration: inherit;
}*/

#portfolio figure figcaption{
	font-family: "Neuton", Helvetica, Arial, Times New Roman, serif; 
	font-size:28px;
	font-weight:700;
	color: #f3f2e9;
	text-decoration: none;
	text-align: right;	
	text-shadow: 1px 1px 5px #100303;
}

#about h2{
	font-size: 35px;
	text-shadow: 1px 1px #ffffff;
}

#about p{
	font-size: 14px;
	margin:10px 0;
}

#about p a{
	color: #8c1c1c;
	font-style: italic;
	font-weight: 400;
}

#contact h2{
	font-size: 35px;
	text-shadow: 1px 1px #000000;
}

#contact p{
	color: #f3f2e9;
	font-size: 14px;
	margin:10px 0;
}

#contact p a{
	color: #8c1c1c;
	font-style: italic;
	font-weight: 400;
}

#contact form input, #contact form textarea{
	font-family: "Lato", Helvetica, Arial, Times New Roman, sans-serif; 
	font-size:14px;
	font-weight:400;
	color: #100303;
}


#filters li {
	text-decoration: none;
	font-family: "Lato", Helvetica, Arial, Times New Roman, sans-serif;
	size:12px;
	font-weight:f00;
	color: #f3f2e9;
}

#filters li #all{
	font-weight:700;
	font-size: 15px;
/*	color: #8c1c1c;*/
}
#tiles li p {
	color: #666;
	font-size: 13px;
	font-family: "Lato", Helvetica, Arial, Times New Roman, sans-serif;
	font-weight:400;
}
 
#tiles li p a{
	font:inherit;
	color:inherit;
	text-decoration: none;
}

.top a{
	text-decoration: none;
	font-family: "Lato", Helvetica, Arial, Times New Roman, sans-serif;
	size:18px;
	font-weight:400;
	color: #8c1c1c;
}

#contact form input.submit{
	color: #f3f2e9;
}

#response{
	color: #f3f2e9;
	font-size: 14px;
	font-family: "Lato", Helvetica, Arial, Times New Roman, sans-serif; 
	font-weight:400;
}

/*	--------------------------------------------------
    Content
	-------------------------------------------------- */

.ui-content{
	width:280px;
	margin:0 auto;
}

/*	--------------------------------------------------
    Page Transition
	-------------------------------------------------- */

.ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page { top: 0; left: 0; width: 100%; min-height: 100%; position: absolute; display: none; border: 0; }
.ui-mobile .ui-page-active { display: block; overflow: visible; }
.ui-page { outline: none; }
.ui-nojs { position: absolute; left: -9999px; }
.ui-hide-label label,
.ui-hidden-accessible { position: absolute !important; left: -9999px; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-mobile-viewport-transitioning,
.ui-mobile-viewport-transitioning .ui-page {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.in {
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 350ms;
	-moz-animation-timing-function: ease-out;
	-moz-animation-duration: 350ms;
}
.out {
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 225ms;
	-moz-animation-timing-function: ease-in;
	-moz-animation-duration: 225;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
.fade.out {
	opacity: 0;
	-webkit-animation-duration: 125ms;
	-webkit-animation-name: fadeout;
	-moz-animation-duration: 125ms;
	-moz-animation-name: fadeout;
}
.fade.in {
	opacity: 1;
	-webkit-animation-duration: 225ms;
	-webkit-animation-name: fadein;
	-moz-animation-duration: 225ms;
	-moz-animation-name: fadein;
}

.ui-icon-loading {
	background: url('../images/ajax-loader.gif');
	background-size: 46px 46px;
}

.ui-loading .ui-loader { display: block; }
.ui-loader { display: none; z-index: 9999999; position: fixed; top: 50%; box-shadow: 0 1px 1px -1px #fff; left: 50%; border:0; }
.ui-loader-default { background: #000; opacity: .18; width: 46px; height: 46px; margin-left: -23px; margin-top: -23px; }
.ui-loader-verbose { width: 200px; opacity: .88; height: auto; margin-left: -110px; margin-top: -43px; padding: 10px; }
.ui-loader-default h1 { font-size: 0; width: 0; height: 0; overflow: hidden; }
.ui-loader-verbose h1 { font-size: 16px; margin: 0; text-align: center; }
.ui-loader .ui-icon { background-color: #000; display: block; margin: 0; width: 44px; height: 44px; padding: 1px; -webkit-border-radius: 36px; -moz-border-radius: 36px; border-radius: 36px; }
.ui-loader-verbose .ui-icon { margin: 0 auto 10px; opacity: .75; }
.ui-loader-textonly { padding: 15px; margin-left: -115px;  }
.ui-loader-textonly .ui-icon { display: none; }
.ui-loader-fakefix { position: absolute; }
.ui-mobile-rendering > * { visibility: hidden; }
/*	--------------------------------------------------
    Universal Header
	-------------------------------------------------- */

.ui-header{
	background: rgb(140,28,28); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(140,28,28,1) 0%, rgba(119,25,23,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(140,28,28,1)), color-stop(100%,rgba(119,25,23,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(140,28,28,1) 0%,rgba(119,25,23,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(140,28,28,1) 0%,rgba(119,25,23,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(140,28,28,1) 0%,rgba(119,25,23,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(140,28,28,1) 0%,rgba(119,25,23,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c1c1c', endColorstr='#771917',GradientType=0 ); /* IE6-9 */
	width:100%;
	height:40px;
	border:none;
	margin:0;
	margin-bottom: -10px;
	z-index: 99;
}

.ui-header h2{

}

#header_home_btn{
	background: url('../images/header_home_btn.png') no-repeat right;
	height:40px;
	width:45px;
	float:left;
}

.header_menu_btn{
	background: url('../images/header_menu_btn.png') no-repeat right;
	height:40px;
	width:45px;
	float:right;
	top:0;
	margin-right: 10px;
}

#portfolio_cat{
	background: url('../images/categories_btn_bg.png') no-repeat right;
	height:40px;
	width:73px;
	float:right;
	top:0;
	margin-right: 0px;
}

.top{
	background: url('../images/top_bg.png') no-repeat right;
	height:40px;
	width:40px;
	float:left;
	top:0;
}

.drop_down_menu{
	position: fixed;
	background: #771917;
	width:100%;
	padding:20px 0;
	display: none;
	position:absolute;
	top: 40px;
	z-index: 50;
	border-bottom: 1px #540e0e solid;
	-webkit-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
	box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);

}

.drop_down_menu a{
	margin:0 auto;
	display:block;
	height:27px;
	width:280px;
	background: #661111;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 5px;
	padding-top: 10px;
	text-align: center;
	border:1px #540e0e solid;
	-webkit-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
	box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
}

.drop_down_menu a:active{
	background: #540e0e;
}

/*	--------------------------------------------------
    Home Section
	-------------------------------------------------- */

#home{
	background: url('../images/home_bg.jpg') repeat #f3f2e9;
	width:100%;
/*	height:100%;*/
}



#home .ui-header{
	background: url('../images/home_header.png') center no-repeat;
	width:100%;
	height:111px;
	border:none;
	margin-bottom: -10px;
}

#home img{
	margin-top: 20px;
}

#home h2{
	margin-bottom: 10px;
}

#home .ui-btn-text{
	display:block;
	height:27px;
	width:280px;
	background: rgba(0,0,0,0.2);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 5px;
	padding-top: 10px;
	text-align: center;
}

#home .ui-btn-text:active{
	background: rgba(0,0,0,0.4);
}

/*	--------------------------------------------------
    Portfolio Section
	-------------------------------------------------- */
#portfolio{
	background: url('../images/portfolio_bg.png') repeat #100303;
	width:100%;
}

#portfolio figure{
	display:block;
	margin: 0;
	position: relative;

}

#portfolio figure.first{
	margin-top:20px;
}

#portfolio figure img{
	display:block;
	height:75px;
	width:280px;
	margin:2px;

}

#portfolio figure figcaption{
	position: absolute;
	bottom:5px;
	right:10px;
	margin:0;
}

/*	--------------------------------------------------
    About Section
	-------------------------------------------------- */

#about{
	background: url('../images/about_bg.jpg') repeat #f3f2e9;
	width:100%;
}

#about h2{
	margin:20px 0 5px 0;
}


/*	--------------------------------------------------
    Contact Section
	-------------------------------------------------- */

#contact{
	background: url('../images/contact_bg.jpg') repeat #100303;
	width:100%;
}

#contact h2{
	margin:20px 0 5px 0;
}

input{
	width:260px;
	height:15px;
	background-color: #f3f2e9;
	margin-bottom:10px;
	padding:5px 10px;
	border:none;
}

textarea{
	width:260px;
	height:150px;
	background-color: #f3f2e9;
	margin-bottom:7px;
	padding: 5px 10px 10px 10px;
	border:none;
}

#contact .ui-btn-inner{
	/*display:none;*/
}

input.submit{
	display:block;
	width:280px;
	height:36px;
	padding:7px 40px 10px 40px;
	background: #8c1d1d;
	/* -webkit-border-radius: 10px;  */
	 -webkit-appearance: none;  
}

input.submit:hover, input.submit:focus {
  cursor: pointer;
  background: #771917;
}

input.submit:active {
  background: #771917;
}

#contact #sendform .ui-btn-inner{ /*remove extraneous button info added by jQuery mobile*/
	display: none;
}

#response{
	display: none;
	position:absolute;
	top:150px;
	margin:0 10px;
	background: rgba(16,3,3,0.85);
	border: 3px #f3f2e9 solid;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.6);
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.6);
	box-shadow: 1px 2px 5px rgba(0,0,0,0.6);
	width:234px;
	padding:20px 10px;
	z-index: 15;
}

/*	--------------------------------------------------
    Portfolio Page 
	-------------------------------------------------- */

#portfolio_page{
	background: url('../images/home_bg.jpg') repeat #f3f2e9;
	width:100%;
}
#portfolio_page .ui-header{
	position:fixed;
}


/*#portfolio_page .ui-header{
	background: url('../images/home_header.png') center no-repeat;
	width:100%;
	height:111px;
	border:none;
	margin-bottom: -10px;
}*/




#filters_container{
	background: url('../images/portfolio_bg.png') repeat #100303;
	position:absolute;
	top:40px;
	width:100%;
	z-index: 30;
	display:none;
	padding-bottom: 20px;
	border-bottom: 1px #540e0e solid;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

#filters{
	width:280px;
	margin:0 auto;
	list-style-type: none;
	text-align: center;
	display:inline;
}

#filters li {
	position:relative;
	top:10px;
	padding: 4px 5px;
	cursor: pointer;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 5px;
}

#filters li.active {
	background: #8c1c1c;
}

#tiles {
	list-style-type: none;
	position: relative; /* Needed to ensure items are laid out relative to this container */
	margin: 0;
	top:50px;
}

#tiles li {
	width: 270px;
	background-color: #ffffff;
	cursor: pointer;
	padding: 5px;
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
	box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
	margin-bottom:10px;
}

#tiles li.inactive {
	display:none;
}

#tiles li img {
	display: block;
	width:270px;
}

#tiles li p {
	margin: 7px 0 0 7px;
}

/* this block of code overrides jQuery mobile button styling*/

/*.ui-btn{
	margin:0;
	padding: 0;
}

.ui-btn-up-c{
	border:none;
	background:none;
	font-weight: inherit;
	color:inherit;
	font-family: inherit;
}

.ui-btn-inner{
	padding:0;
	margin:0;
}

.ui-btn-corner-all{
	border:none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}*/


